@import 'https://fonts.googleapis.com/css?family=Pacifico|Open+Sans';

// @import 'https://fonts.googleapis.com/css?family=Cherry+Swash|Courgette|Delius+Swash+Caps|Galada|Grand+Hotel|Lobster|Marck+Script|Pacifico|Satisfy|Sofia';
// font-family: 'Pacifico', cursive;
// font-family: 'Lobster', cursive;
// font-family: 'Satisfy', cursive;
// font-family: 'Marck Script', cursive;
// font-family: 'Galada', cursive;
// font-family: 'Grand Hotel', cursive;
// font-family: 'Delius Swash Caps', cursive;
// font-family: 'Cherry Swash', cursive;
// font-family: 'Sofia', cursive;
// font-family: 'Courgette', cursive;

body
	margin 0

@import banner
@import utilities