.footer
	p
		Copyright &copy; #{(new Date()).getFullYear()}. Code by 
		a(href='http://bendaniel.net') Ben Daniel
		|.
	p
		| Visual Design by 
		a(href='http://www.fionacannon.com') Fiona Cannon
		|. Logo art by 
		a(href='http://hornetfire.tumblr.com') Hudson Graham
		|.