h4 {{search.current.title}}

form
	div.form-group
		label(for='locations') Location(s)
		tags-input(id='locations', ng-model='search.current.locations', placeholder='Location(s)')
		//input.form-control(type="text", id="location", placeholder="Location")
	
	div.form-group
		label(for='propertyTypes') Property Type(s)
		tags-input(id='propertyTypes', ng-model='search.current.propertyTypes', placeholder='Property Type(s)')
		//input.form-control(type='text', id='propertyTypes', placeholder='Property Types')
	
	button.btn.btn-primary Save
	
	button.btn.btn-default Cancel