h4(style='display: inline-block; margin-right: 20px') {{search.current.title}}
button.btn.btn-xs.btn-default(ng-click='search.edit()') Edit

div(ng-if='search.current')
	.row
		.col-xs-3.col-sm-2.col-md-1 
			label.control-label Locations
		.col-xs-9.col-sm-10.col-md-11 {{search.current.locations.join(', ')}}
	
	.row
		.col-xs-3.col-sm-2.col-md-1 
			label.control-label Property Types
		.col-xs-9.col-sm-10.col-md-11 {{search.current.propertyTypes.join(', ')}}
		
	.row(ng-if='search.featuresText()')
		.col-xs-3.col-sm-2.col-md-1 
			label.control-label Features
		.col-xs-9.col-sm-10.col-md-11 {{search.featuresText()}}
		
	.row(ng-if='search.priceText()')
		.col-xs-3.col-sm-2.col-md-1 
			label.control-label Price
		.col-xs-9.col-sm-10.col-md-11 {{search.priceText()}}
		
ng-include(src="'/templates/searchListing'")