h3 {{search.title}}

form
	div.form-group
		label(for="location") Location
		input.form-control(type="text", id="location", placeholder="Location")
	
	div.form-group
		label(for="propertyTypes") Property Types
		input.form-control(type="text", id="propertyTypes", placeholder="Property Types")
	
	button.btn.btn-default Edit
	
	button.btn.btn-danger Delete