div
	h1 Edit Search

form.form-horizontal(role='form', ng-if='search.current')
	.row
		//.col-xs-12
			.form-group.form-group-lg
				.col-xs-12.col-md-7
					input.form-control#title(ng-model='search.current.title', placeholder='Title')
		
		.col-md-10
			.form-group.form-group-lg
				label.control-label.col-xs-3(for='title') Title
				.col-xs-9
						input.form-control#title(ng-model='search.current.title', placeholder='Title')
		
		.col-md-10
			.row
				.col-xs-12
					.form-group
						label.control-label.col-xs-3(for='suburbs') Suburbs
						.col-xs-9
							tags-input#suburbs(ng-model='search.current.suburbs', placeholder='Suburbs', replace-spaces-with-dashes='false')
								auto-complete(source='search.suggestSuburbs($query)')
				
				.col-xs-12
					.form-group
						label.control-label.col-xs-3(for='propertyTypes') Property Types
						.col-xs-9
							tags-input#propertyTypes(ng-model='search.current.propertyTypes', placeholder='Property Types')
			
				.col-xs-6.col-sm-3
					.form-group
						label.control-label.col-xs-6(for='minBedrooms') Min Beds
						.col-xs-6
							input.form-control#minBedrooms(ng-model='search.current.min.bedrooms', placeholder='Beds')
			
				.col-xs-6.col-sm-3
					.form-group
						label.control-label.col-xs-6(for='minBathrooms') Min Baths
						.col-xs-6
							input.form-control#minBathrooms(ng-model='search.current.min.bathrooms', placeholder='Baths')
							
				.col-xs-6.col-sm-3
					.form-group
						label.control-label.col-xs-6(for='minParks') Parks
						.col-xs-6
							input.form-control#minParks(ng-model='search.current.min.parks', placeholder='Parks')
							
				.col-xs-6.col-sm-3
					.form-group
						label.control-label.col-xs-6(for='maxPrice') Max Price
						.col-xs-6
							input.form-control#maxPrice(ng-model='search.current.max.price', placeholder='Price')					
	
				.col-xs-12
					table.table.table-striped.features
						thead
							tr
								th.feature-name Feature
								th.feature-importance Don't Care
								th.feature-importance Nice To Have
								th.feature-importance Must Have
							
							//tr(ng-repeat='(feature, featureValue) in models.PropertyFeature')
								td.feature-name {{feature}}
								td.feature-importance(ng-repeat='(importance, importanceValue) in models.SearchFeatureImportance')
									input(type='radio', name='{{feature}}', value='{{importance}}', ng-model='search.current.features[utils.strings.toCamelCase(feature)]')
							
							tr(ng-repeat='(feature, featureValue) in models.PropertyFeature')
								td.feature-name {{feature}}
								td.feature-importance
									input(type='radio', name='{{feature}}', value='{{models.SearchFeatureImportance.DontCare}}', ng-model='search.current.features[utils.strings.toCamelCase(feature)]')
								td.feature-importance
									input(type='radio', name='{{feature}}', value='{{models.SearchFeatureImportance.NiceToHave}}', ng-model='search.current.features[utils.strings.toCamelCase(feature)]')
								td.feature-importance
									input(type='radio', name='{{feature}}', value='{{models.SearchFeatureImportance.MustHave}}', ng-model='search.current.features[utils.strings.toCamelCase(feature)]')
		
	button.btn.btn-primary(ng-click='search.save()') Save
	
	button.btn.btn-default(ng-click='search.cancel()') Cancel
	
	button.btn.btn-danger(ng-click='search.delete()') Delete