div(ng-controller='SearchListing as listing')
	h2.search-results-title Search Results
	
	p.search-results-count {{listing.results.length}} properties found.
	
	ul.search-results
		li.col-md-6(ng-repeat='property in listing.results')
			.search-result.row
				.search-result-image-container.col-xs-8
					img(class='search-result-image', ng-if='property.images.length', ng-src='{{property.images[0].url}}')
					.address {{utils.geo.getAddressText(property.address, utils.geo.AddressTextFormat.Suburb)}}
					.status-label(ng-class='property.status.toLowerCase()')
				.search-result-details.col-xs-4
					.price ${{property.price}} {{property.listingType == 'Rental' ? ' per week' : ''}}
					.hr
					.rooms
						.room.bedroom-count
							img(src='/images/icons/small/icon-bed.png')
							span {{property.bedroomCount}}
						.room.bathroom-count
							img(src='/images/icons/small/icon-bath.png')
							span {{property.bathroomCount}}
						.room.park-count
							img(src='/images/icons/small/icon-car.png')
							span {{property.parkCount}}
					.hr
					ul.nice-to-haves
						li.nice-to-have(ng-repeat='feature in listing.niceToHaves')
							img(src='/images/icons/small/tick-green.png')
							span {{utils.strings.toTitleCase(feature)}}
						li
							.more(ng-if='listing.niceToHaves.length > 3') More...
