form.form-horizontal(role='form', ng-if='search.current')
	.row
		.col-xs-12
			.form-group.form-group-lg
				.col-xs-12.col-md-6
					input.form-control#title(ng-model='search.current.title', placeholder='Title')
		
		.col-md-6
			.form-group
				label.control-label.col-xs-3(for='locations') Location
				.col-xs-9
					tags-input#locations(ng-model='search.current.locations', placeholder='Location', replace-spaces-with-dashes='false', display-property='name')
	
		.col-md-6
			.form-group
				label.control-label.col-xs-3(for='propertyTypes') Property Types
				.col-xs-9
					tags-input#propertyTypes(ng-model='search.current.propertyTypes', placeholder='Property Types')
	
		.col-xs-6.col-sm-3
			.form-group
				label.control-label.col-xs-6(for='minBedrooms') Min Beds
				.col-xs-6
					input.form-control#minBedrooms(ng-model='search.current.min.bedrooms', placeholder='Beds')
	
		.col-xs-6.col-sm-3
			.form-group
				label.control-label.col-xs-6(for='minBathrooms') Min Baths
				.col-xs-6
					input.form-control#minBathrooms(ng-model='search.current.min.bathrooms', placeholder='Baths')
					
		.col-xs-6.col-sm-3
			.form-group
				label.control-label.col-xs-6(for='minParks') Parks
				.col-xs-6
					input.form-control#minParks(ng-model='search.current.min.parks', placeholder='Parks')
					
		.col-xs-6.col-sm-3
			.form-group
				label.control-label.col-xs-6(for='maxPrice') Max Price
				.col-xs-6
					input.form-control#maxPrice(ng-model='search.current.max.price', placeholder='Price')					
	
		
		
		.col-xs-4.col-sm-3.col-md-2
			.checkbox
				label.control-label
					input#dishwasher(type='checkbox', ng-model='search.current.has.dishwasher')
					| Dishwasher
		
		.col-xs-4.col-sm-3.col-md-2
			.checkbox
				label.control-label
					input#aircon(type='checkbox', ng-model='search.current.has.airCon')
					| Aircon
					
		.col-xs-4.col-sm-3.col-md-2
			.checkbox
				label.control-label
					input#laundry(type='checkbox', ng-model='search.current.has.laundry')
					| Laundry
					
		.col-xs-4.col-sm-3.col-md-2
			.checkbox
				label.control-label
					input#balcony(type='checkbox', ng-model='search.current.has.balcony')
					| Balcony
					
		.col-xs-4.col-sm-3.col-md-2
			.checkbox
				label.control-label
					input#pool(type='checkbox', ng-model='search.current.has.pool')
					| Pool
					
		.col-xs-4.col-sm-3.col-md-2
			.checkbox
				label.control-label
					input#gym(type='checkbox', ng-model='search.current.has.gym')
					| Gym
		
	button.btn.btn-primary(ng-click='search.save()') Save
	
	button.btn.btn-default(ng-click='search.cancel()') Cancel
	
	button.btn.btn-danger(ng-click='search.delete()') Delete